/*
 * Richtext editor
 */

.richtext-editor[contenteditable="true"] hr {  }
.richtext-editor[contenteditable="true"] th { min-width:20px; border: 1px solid grey; }
.richtext-editor[contenteditable="true"] td { min-width:20px; border: 1px dotted grey; }
.richtext-editor[contenteditable="true"] ul { list-style-type: disc; padding-left: 40px; }
.richtext-editor[contenteditable="true"] ol { list-style-type: decimal; padding-left: 40px; }